<section class="py-16 bg-gray-100">
    <div class="container px-4 mx-auto">
        <div class="flex flex-col items-center lg:flex-row">
            <div class="mb-8 lg:w-1/2 lg:mb-0">
                <div class="relative">
                    <img src="/images/about.png" alt="Concepto Milmaray" class="w-full h-auto rounded-lg shadow-lg">
                </div>
            </div>
            <div class="lg:w-1/2 lg:pl-8">
                <h3 class="mb-5 text-2xl font-semibold text-black sm:text-3xl md:text-4xl font-futura">
                    Concepto Milmaray
                </h3>
                <p class="mb-4 text-sm leading-relaxed text-justify text-gray-700 sm:text-base lg:text-lg">
                    Milmaray viene de la unión de dos palabras Milenario y Maray
                </p>
                <p class="mb-4 text-sm leading-relaxed text-justify text-gray-700 sm:text-base lg:text-lg">
                    El Maray, o más conocido como Batán, es un instrumento culinario para la trituración de insumos y preparación de salsas. Consta de dos piedras, una aplanada que sirve de base y la otra más voluminosa que es sostenida por ambas manos.
                </p>
                <p class="mb-4 text-sm leading-relaxed text-justify text-gray-700 sm:text-base lg:text-lg">
                    El Maray fusiona los ingredientes convirtiéndolos en una misma masa. El Maray es un instrumento de fusión, al igual que Milmaray que propone cocina fusión. Milmaray es un restaurante fusión donde se mezclan platos marinos con insumos andinos.
                </p>
                <a class="inline-flex items-center px-6 py-3 mt-5 text-white transition duration-300 ease-in-out transform rounded-lg shadow-md bg-primary font-myriad hover:bg-secondary hover:scale-105" href="https://goo.gl/maps/6Tu7NR8VJG9c224Q8" target="_blank">
                    <i class="mr-2 fa-solid fa-signs-post"></i>
                    Visítanos
                </a>
            </div>
        </div>
    </div>
</section>