<section class="relative bg-cover bg-center py-5 min-h-[100px] sm:min-h-[100px] md:min-h-[120px]" style="background-image: url('/images/bg.png')">
    <div class="absolute inset-0 bg-[#000000] bg-opacity-50"></div>
</section>