<!-- Loader.astro -->
<div id="loading" class="fixed inset-0 z-50 flex items-center justify-center bg-primary">
    <div class="loader flex flex-col items-center">
        <svg class="w-16 h-16 text-secondary animate-spin mb-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-20" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-15" fill="currentColor" d="M4 12a8 8 0 018-8v5l4 4-4 4V4a8 8 0 00-8 8z"></path>
        </svg>
        <p class="text-secondary text-lg font-semibold">Cargando, por favor espera...</p>
    </div>
</div>