<div id="loading" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div class="loader">
        <svg class="w-10 h-10 text-white animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-20" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-65" fill="currentColor" d="M4 12a8 8 0 018-8v5l4 4-4 4V4a8 8 0 00-8 8z"></path>
        </svg>
    </div>
</div>