<section class="relative h-screen bg-center bg-cover" style="background-image: url('/images/banner.png');">
    <div class="absolute inset-0 z-0 bg-black opacity-70"></div>
    <div class="container relative z-10 flex flex-col items-center justify-center h-full px-4 mx-auto text-center sm:px-6 lg:px-8">
        <h3 class="mb-4 text-3xl leading-tight text-white sm:text-3xl md:text-4xl lg:text-5xl font-futura">
            cocina peruana
        </h3>
        <h2 class="mb-4 text-5xl sm:text-6xl md:text-8xl lg:text-9xl">
            <img src="/images/logo-white.png" alt="Logo Milmaray" title="Logo Milmaray" class="w-full h-auto max-w-xs mx-auto">
        </h2>
        <p class="mb-6 text-base leading-relaxed text-gray-300 sm:text-lg md:text-xl font-myriad">
            Descubre una experiencia gastronómica única donde cada bocado cuenta una historia de unión y creatividad.
        </p>
        <div class="flex flex-col mt-5 space-y-4 sm:flex-row sm:space-x-4 sm:space-y-0">
            <a href="" class="px-4 py-2 text-white transition duration-300 ease-in-out rounded shadow-lg bg-primary font-myriad hover:bg-opacity-90 hover:bg-secondary">
                Revisar nuestra carta aquí
                <i class="fa-solid fa-clipboard"></i>
            </a>
            <a href="" target="_blank" class="px-4 py-2 text-white transition duration-300 ease-in-out bg-transparent border border-white rounded shadow-lg font-myriad hover:bg-white hover:text-primary">
                Reserva una Mesa
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>
    </div>
</section>